body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: yellow; 
}

main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.container {
    width: 90%; 
    height: 350px;      
    max-width: 500px; 
    min-width: 300px;
    margin: 20px; 
    padding: 20px;
    background-color: #fbffe3;  
    border-radius: 20px;  

}

#blue{
    color: blue;
}

#yellow{
    color: yellow;
}

#red{
    color: red; 
}

.container h1 {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 40px;  
    font-size: 3rem;    
}

.container #btn-container {
    margin-top: 20px;   
}  

.container #btn{
    height: 50px; 
    width: 200px;  
    border-radius: 10px;  
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem; 
    background-color: #FCFCFD;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset; 
    box-sizing: border-box; 

}

#btn:hover{
    cursor: pointer;
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px); 
}

#btn:active{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px); 
}

.generated{
    margin-top: 40px;  
    width: 300px;  
    height: 40px; 
    background-color: transparent; 
    border: none; 
    font-size: 2em;  
    text-align: center; 
    
}